<div class="container flex-col place-items-center justify-center text-start ">
    <div class="w-75 max-w-sm p-2" [formGroup]="formGroup()">
           <app-custom-input 
            [control]="formGroup().controls.nombre" 
            [formControlName]="'Nombre'"
            /> 
        <div>
            <app-custom-input 
            [control]="formGroup().controls.apellido" 
            [formControlName]="'Apellido'"/>
        </div>
        <div>
            <app-custom-input 
            [control]="formGroup().controls.email" 
            [formControlName]="'Correo'"/>
        </div>
        <div>
            <app-custom-input 
            [control]="formGroup().controls.telefono" 
            [formControlName]="'Telefono'"/>
        </div>
    </div>
</div>