<div class="w-full h-screen flex items-center  bg-white">
    <div class="flex m-3">
        <div class="w-1/2">
        <h1 class="text-5xl md:text-5xl font-bold text-gray-800">Conocenos</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            temporibus quidem maxime ipsum veritatis voluptates saepe, ex quis sed
            dignissimos odio fugiat deleniti officiis rem delectus laborum in ducimus
            similique!.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            temporibus quidem maxime ipsum veritatis voluptates saepe, ex quis sed
            dignissimos odio fugiat deleniti officiis rem delectus laborum in ducimus
            similique!.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            temporibus quidem maxime ipsum veritatis voluptates saepe, ex quis sed
            dignissimos odio fugiat deleniti officiis rem delectus laborum in ducimus
            similique!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            temporibus quidem maxime ipsum veritatis voluptates saepe, ex quis sed
            dignissimos odio fugiat deleniti officiis rem delectus laborum in ducimus
            similique!.
          </p>
        </div>
        <div class="w-1/2">
          <img
            src="https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Barbería profesional"
            class="w-3/4 mx-auto rounded-lg shadow-lg object-cover h-auto md:h-auto"
          />
        </div>
      </div>
</div>

