@let times = reservas();

@if (error()) {
  <div class="error-message">
    {{ error() }}
  </div>
}
<div class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 max-w-full md:max-w-100 md:mx-w-lg 
    text-center">
    <!-- Horarios -->
    @for(time of times; track time.id){
        <input 
        
        [class.bg-amber-600]="sT() === time.id"
        [class.text-white]="sT() === time.id"
        [disabled]="time.tomado"
        [attr.disabled]="time.tomado ? true : null"
        [class.bg-gray-100]="sT() !== time.id" 
        [class.text-gray-800]="sT() !== time.id"
        [class.hover:bg-gray-200]="sT() !== time.id"
        class="bg-gray-100 text-gray-800 disabled:bg-black disabled:cursor-not-allowed disabled:text-white text-center px-2 py-2 md:px-4 md:py-2 rounded-lg cursor-pointer"
        (click)="!time.tomado && selectTime(time)"
        type="text" placeholder="{{time.hora}}" readonly>
        }
</div>


