
<main class="flex flex-col bg-white min-h-screen">
  <!-- Sección de welcome -->
  <header id="inicio" >
      <landing-welcome></landing-welcome>
  </header>

  <!-- Sección de servicios -->
   
  <section id="servicios">

      
      <landing-services></landing-services>
    </section>
  
  

  <!-- Sección sobre nosotros -->


     <section id="conoce">
         <landing-about-us></landing-about-us>
     </section>
   
 
   

    
    <section id="map">
      <landing-map></landing-map>
    </section>

  

</main>

