<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <!-- Seccion de welcome -->
    <header>
        <landing-welcome></landing-welcome>
    </header>

    <!-- Seccion de servicios -->
    <section id="servicios">
        <landing-services></landing-services>
    </section>

    <!-- Seccion de sobre nosotros -->
    <section id="conoce">
        <landing-about-us></landing-about-us>
    </section>

    <h1 class="text-3xl font-bold underline text-blue-500">
      Hello world!
    </h1>

</body>

</html>
