
<main class="flex-grow">
  <!-- Sección de welcome -->
  <header id="inicio" >
      <landing-welcome></landing-welcome>
  </header>

  <!-- Sección de servicios -->
  <section id="servicios">
      <landing-services></landing-services>
  </section>

  <!-- Sección sobre nosotros -->
  <section id="conoce">
      <landing-about-us></landing-about-us>
  </section>

  <!-- Ejemplo de contenido adicional -->
  <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold underline text-blue-500">
          Hello world!
      </h1>
  </div>
</main>

