<div class=" h-60 w-52 mt-45 ml-28 rounded-md flex items-center justify-center border border-black bg-white">
    <form class="m-2" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="grid gap-2 ">
            <label for="correo">Correo</label>
            <input  type="text" id="correo">   
        </div>
        <div class="grid gap-2">
            <label for="oldPass">Contraseña antigua</label>
            <input type="password" id="password">   
        </div>
        <div class="grid gap-2 pb-2">
            <label for="newPass">Contraseña nueva</label>
            <input type="password" id="password">   
        </div>
        <button class="rounded-md size-auto-12 p-2 bg-black text-amber-50 hover:scale-105 transition-transform ">Guardar</button>
    </form>
</div>