@let localControl = control();
<label for="formControlName()" class="text-md font-light ">{{ formControlName().charAt(0).toUpperCase() +
     formControlName().slice(1) }}</label>
<div>
    <input 
    class="border-1 border-gray-600/25 rounded-lg p-1 w-70"
    id="formControlName()" [formControl]="localControl" (blur)="onTouched()"/>
</div>

@if(localControl.invalid && (localControl.dirty || localControl.touched)){
<div class="error-message">
    @if (localControl.errors?.["required"]){
        <span>Este Campo es obligatorio</span>
    }
</div>
}