


<div class="flex flex-col items-center ">
<div class=" relative  mt-40">
  <table class="  w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-md text-gray-700 uppercase bg-gray-50 ">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Product name
              </th>
              <th scope="col" class="px-6 py-3">
                  Color
              </th>
              <th scope="col" class="px-6 py-3">
                  Category
              </th>
              <th scope="col" class="px-6 py-3">
                  Price
              </th>
              <th scope="col" class="px-6 py-3  ">
                Editar
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-gray-100">
              <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap text-gray-800">
                  Apple MacBook Pro 17"
              </th>
              <td class="px-6 py-4 text-gray-800">
                  Silver
              </td>
              <td class="px-6 py-4 text-gray-800">
                  Laptop
              </td>
              <td class="px-6 py-4 text-gray-800">
                  $2999
              </td>
              <td class="px-4 py-2">
                <span class="material-symbols-outlined text-gray-800">open_in_new</span>
              </td>
          </tr>
          <tr class="bg-gray-100">
            <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap text-gray-800">
                Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4 text-gray-800">
                Silver
            </td>
            <td class="px-6 py-4 text-gray-800">
                Laptop
            </td>
            <td class="px-6 py-4 text-gray-800">
                $2999
            </td>
            <td class="px-4 py-2">
              <span class="material-symbols-outlined text-gray-800">open_in_new</span>
            </td>
        </tr>
        <tr class="bg-gray-100">
          <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap text-gray-800">
              Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4 text-gray-800">
              Silver
          </td>
          <td class="px-6 py-4 text-gray-800">
              Laptop
          </td>
          <td class="px-6 py-4 text-gray-800">
              $2999
          </td>
          <td class="px-4 py-2">
            <span class="material-symbols-outlined text-gray-800">open_in_new</span>
          </td>
      </tr>
      </tbody>
  </table>
</div>
</div>



<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
